<% include includes/head %>
    <% include includes/sidebar %>
    <div class="main-panel">
        <% include includes/navbar %>

        <div class="content">
            <div class="container-fluid">
                <!-- BreadCrumb -->
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb bg-light-mode">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="fas fa-calendar-check"></i> Appointments
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- BreadCrumb End -->
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header card-header-info card-header-icon">
                                        <div class="card-icon">
                                            <i class="fas fa-child"></i>
                                        </div>
                                        <p class="card-category">Revenue</p>
                                        <h3 class="card-title">$34,245</h3>
                                    </div>
                                    <!-- <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">date_range</i> Last 24 Hours
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    
                </div>
                </div>
                



            </div>
        </div>
    </div>

</div>

<% include includes/foot.ejs%>