<% include includes/head %>
    <div class="wrapper">
        <% include includes/sidebar %>
        <div class="main-content">
            <% include includes/navbar %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb bg-light-mode">
                                <li class="breadcrumb-item">
                                    <a href="">
                                        <i class="fas fa-home"></i> Home
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <i class="fas fa-th-large"></i> Dashboard
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
        
        
        


        
       

<% include includes/foot.ejs%>