<!-- About Us Section -->
<section id="about">
    <div class="service-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
    
                    <div class="section-tittle text-center mb-80">
                        <span>What we are doing</span>
                        <h2>We Are In A Mission To Help The Helpless</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-graduation-cap"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Kids To School</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know
                                your processes to.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-running"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Kids To Sports</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know
                                your processes to.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-palette"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Kids To Arts</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know
                                your processes to.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-microchip"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Kids To Tech</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know
                                your processes to.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
    
                        <div class="section-tittle mb-35">
                            <span>About our foundetion</span>
                            <h2>We Are In A Mission To Help Helpless</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,mod tempor incididunt ut labore et
                            dolore magna aliqua. Utnixm, quis nostrud exercitation ullamc.</p>
                        <p>Lorem ipvsum dolor sit amext, consectetur adipisicing elit, smod tempor incididunt ut labore et
                            dolore.</p>
                    </div>
                    <!-- <a href="about.html" class="btn sbtn">About US</a> -->
                </div>
                <div class="col-lg-6 col-md-12">
    
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="/images/gallery/xabout2.png.pagespeed.ic.w2-S88pmhJ.webp" alt=""
                                data-pagespeed-url-hash="2234732055"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                        <div class="about-back-img ">
                            <img src="/images/gallery/xabout1.png.pagespeed.ic.bmmRcBTnUr.webp" alt=""
                                data-pagespeed-url-hash="1940232134"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>