<!-- Blog -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h1 class="title">Our Blog</h1>
                    <p class="sub-title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="article my-4">
                    <div class="article-img">
                        <a href="single-cause.html">
                            <img src="/images/profile/index-kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="article-content">
                        <h3>
                            <a href="single-cause.html">
                                Possit Nostro Aeterno Eu Vis, Ut Cum Quem Reque
                            </a>
                        </h3>
                        <ul class="article-meta">
                            <li>12 November 2018</li>
                            <li>By John doe</li>
                            <li>0 Comments</li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="article my-4">
                    <div class="article-img">
                        <a href="single-cause.html">
                            <img src="/images/profile/index-kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="article-content">
                        <h3>
                            <a href="single-cause.html">
                                Possit Nostro Aeterno Eu Vis, Ut Cum Quem Reque
                            </a>
                        </h3>
                        <ul class="article-meta">
                            <li>12 November 2018</li>
                            <li>By John doe</li>
                            <li>0 Comments</li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="article my-4">
                    <div class="article-img">
                        <a href="single-cause.html">
                            <img src="/images/profile/index-kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="article-content">
                        <h3>
                            <a href="single-cause.html">
                                Possit Nostro Aeterno Eu Vis, Ut Cum Quem Reque
                            </a>
                        </h3>
                        <ul class="article-meta">
                            <li>12 November 2018</li>
                            <li>By John doe</li>
                            <li>0 Comments</li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>