<!-- Events -->
<section id="event">
    <div class="container-fluid">
        <div class="row m-auto">
            <div class="col-12">
                <div class="event-content text-center">
                    <h1>Upcoming Events</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="event-img">
                                    <a href="single-event.html">
                                        <img src="/images/profile/index-kids/kids-1.jpeg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="event-content">
                                    <h3><a href="single-event.html">Possit nostro aeterno eu vis, ut cum quem reque</a>
                                    </h3>
                                    <ul class="event-meta">
                                        <li><i class="far fa-clock"></i> 24 October, 2018 | 8:00AM - 11:00PM</li>
                                        <li><i class="fa fa-map-marker"></i> 2736 Hinkle Deegan Lake Road</li>
                                    </ul>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et
                                        dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <div class="event">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="event-img">
                                    <a href="single-event.html">
                                        <img src="/images/profile/index-kids/kids-1.jpeg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="event-content">
                                    <h3><a href="single-event.html">Possit nostro aeterno eu vis, ut cum quem reque</a>
                                    </h3>
                                    <ul class="event-meta">
                                        <li><i class="far fa-clock"></i> 24 October, 2018 | 8:00AM - 11:00PM</li>
                                        <li><i class="fa fa-map-marker"></i> 2736 Hinkle Deegan Lake Road</li>
                                    </ul>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt
                                        ut labore et
                                        dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>