<div class="container">

    <div class="row">

        <div class="col-md-4">
            <div class="footer">
                <div class="footer-logo">
                    <a class="logo" href="#"><img src="/images/logo/logo-1.png" alt=""></a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <ul class="footer-contact">
                    <li><i class="fa fa-map-marker"></i> 2736 Hinkle Deegan Lake Road</li>
                    <li><i class="fa fa-phone"></i> 607-279-9246</li>
                    <li><i class="fa fa-envelope"></i> <a href="#">Charity@email.com</a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-4">
            <div class="footer">
                <h3 class="footer-title">Gallery</h3>
                <ul class="footer-galery">
                    <li><a href="#"><img src="/images/bg-img/about-1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/images/profile/index-kids/kids-1.jpeg" alt=""></a></li>
                    <li><a href="#"><img src="/images/profile/index-kids/kids-4.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/profile/index-kids//kids-3.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/bg-img/hero-1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/images/bg-img/hero-2.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-4">
            <div class="footer">
                <h3 class="footer-title">Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <form class="footer-newsletter">
                    <input class="input" type="email" placeholder="Enter your email">
                    <button class="btn btn-kts rounded-pill my-3">Subscribe</button>
                </form>
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>

    </div>


    <div id="footer-bottom" class="row">

        <div class="col-md-6 col-md-pull-6">
            <div class="footer-copyright">
                <span>
                    Copyright ©
                    <!-- <script type="text/javascript" async=""
                                src="https://www.google-analytics.com/analytics.js"></script> -->
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                </span>
            </div>
        </div>

        <div class="col-md-6 col-md-push-6">
            <ul class="footer-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <!-- <li><a href="#">Causes</a></li> -->
                <li><a href="#">Events</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

</div>