<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K2S | Kids To School Foundation</title>
    <meta name="theme-color" content="#ffffff">

    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/jpg" href="<%= setts['logo'] %>" />

    <!-- Site manifest -->
    <link rel="manifest" href="/doc/site/site.webmanifest">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!-- icon CSS -->
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">

    <!-- OWL CSS -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.css">

    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css"
        integrity="sha512-heyoieAHmpAL3BdaQMsbIOhVvGb4+pl4aGCZqWzX/f1BChRArrBy/XUZDHW9WVi5p6pf92pX4yjkfmdaIYa2QQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/personal/slick.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/personal/kts-index.css">
    <!-- <link rel="stylesheet" href="/css/personal/kts-external.css"> -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery/jquery-migrate.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/swal/sweetalert2.all.min.js"></script>
    <script src="/js/owl-carousel/owl.carousel.min.js"></script>
    <script data-pagespeed-no-defer="" src="/js/other/pageSpeed.min.js"></script>
    
</head>

<body>