<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>K2S | Kids To School Foundation</title>
    <meta name="theme-color" content="#ffffff">

    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/logo/logo-1.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!-- icon CSS -->
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="css/fontawesome/fontawesome.min.css">

    <!-- Owl Carousel Css -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl-carousel/owl.theme.default.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="">


    <!-- personnal CSS -->
    <link rel="stylesheet" href="/css/personal/kts-index.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery/jquery-3.4.1.min.js"></script>
    <script src="js/jquery/jquery-migrate.min.js"></script>
    <!-- <script src="js/bootstrap/bootstrap.min.js"></script> -->
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/swal/sweetalert2.all.min.js"></script>
    <script src="/js/owl-carousel/owl.carousel.min.js"></script>


</head>

<body>