<div class="slider-area">
    <div class="slider-active slick-initialized slick-slider">
        <div class="slick-list draggable">
            <div class="slick-track">
                <div class="single-slider slider-height d-flex align-items-center slick-slide slick-current slick-active"
                    tabindex="0"
                    style="width: 100%; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
                    data-slick-index="0" aria-hidden="false">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-4">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s" class=""
                                        style="animation-delay: 0.6s;">Our Helping to the world.</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s" class=""
                                        style="animation-delay: 0.8s;">Onsectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut bore et dolore magnt, sed do eiusmod.</p>

                                    <div class="hero__btn">
                                        <a href="#" class="btn sbtn hero-btn mb-10" data-animation="fadeInLeft"
                                            data-delay=".8s" tabindex="0" style="animation-delay: 0.8s;">
                                            Donate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height d-flex align-items-center slick-slide" tabindex="-1"
                    style="width: 100%; position: relative; left: -1519px; top: 0px; z-index: 998; opacity: 0;"
                    data-slick-index="1" aria-hidden="true">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Our Helping to<br> the world.</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Onsectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut bore et dolore magnt, sed do eiusmod.</p>

                                    <div class="hero__btn">
                                        <a href="#" class="btn sbtn hero-btn mb-10" data-animation="fadeInLeft"
                                            data-delay=".8s" tabindex="-1"> Donate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>