<!-- Our Kids -->
<section id="kids">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h1 class="title">Our Kids</h1>
                    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="kids my-4">
                    <div class="kids-img">
                        <a href="single-cause.html">
                            <img src="img/kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="kids-progress">
                        <div class="kids-progress-bar">
                            <div style="width: 87%;">
                                <span>87%</span>
                            </div>
                        </div>
                        <div>
                            <span class="kids-raised">Raised: <strong>52.000$</strong></span>
                            <span class="kids-goal">Goal: <strong>90.000$</strong></span>
                        </div>
                    </div>
                    <div class="kids-content">
                        <h3>
                            <a href="single-cause.html">
                                Chikezie Mike
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                    <a href="single-cause.html" class="btn btn-kts rounded-pill kids-donate">
                        Donate Now
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="kids my-4">
                    <div class="kids-img">
                        <a href="single-cause.html">
                            <img src="img/kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="kids-progress">
                        <div class="kids-progress-bar">
                            <div style="width: 57%;">
                                <span>57%</span>
                            </div>
                        </div>
                        <div>
                            <span class="kids-raised">Raised: <strong>52.000$</strong></span>
                            <span class="kids-goal">Goal: <strong>90.000$</strong></span>
                        </div>
                    </div>
                    <div class="kids-content">
                        <h3>
                            <a href="single-cause.html">
                                Chikezie Mike
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                    <a href="single-cause.html" class="btn btn-kts rounded-pill kids-donate">
                        Donate Now
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="kids my-4">
                    <div class="kids-img">
                        <a href="single-cause.html">
                            <img src="img/kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="kids-progress">
                        <div class="kids-progress-bar">
                            <div style="width: 73%;">
                                <span>73%</span>
                            </div>
                        </div>
                        <div>
                            <span class="kids-raised">Raised: <strong>52.000$</strong></span>
                            <span class="kids-goal">Goal: <strong>90.000$</strong></span>
                        </div>
                    </div>
                    <div class="kids-content">
                        <h3>
                            <a href="single-cause.html">
                                Chikezie Mike
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                    <a href="single-cause.html" class="btn btn-kts rounded-pill kids-donate">
                        Donate Now
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="kids my-4">
                    <div class="kids-img">
                        <a href="single-cause.html">
                            <img src="img/kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="kids-progress">
                        <div class="kids-progress-bar">
                            <div style="width: 99%;">
                                <span>99%</span>
                            </div>
                        </div>
                        <div>
                            <span class="kids-raised">Raised: <strong>52.000$</strong></span>
                            <span class="kids-goal">Goal: <strong>90.000$</strong></span>
                        </div>
                    </div>
                    <div class="kids-content">
                        <h3>
                            <a href="single-cause.html">
                                Chikezie Mike
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                    <a href="single-cause.html" class="btn btn-kts rounded-pill kids-donate">
                        Donate Now
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="kids my-4">
                    <div class="kids-img">
                        <a href="single-cause.html">
                            <img src="img/kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="kids-progress">
                        <div class="kids-progress-bar">
                            <div style="width: 47%;">
                                <span>47%</span>
                            </div>
                        </div>
                        <div>
                            <span class="kids-raised">Raised: <strong>52.000$</strong></span>
                            <span class="kids-goal">Goal: <strong>90.000$</strong></span>
                        </div>
                    </div>
                    <div class="kids-content">
                        <h3>
                            <a href="single-cause.html">
                                Chikezie Mike
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                    <a href="single-cause.html" class="btn btn-kts rounded-pill kids-donate">
                        Donate Now
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="kids my-4">
                    <div class="kids-img">
                        <a href="single-cause.html">
                            <img src="img/kids/kids-3.png" alt="">
                        </a>
                    </div>
                    <div class="kids-progress">
                        <div class="kids-progress-bar">
                            <div style="width: 64%;">
                                <span>64%</span>
                            </div>
                        </div>
                        <div>
                            <span class="kids-raised">Raised: <strong>52.000$</strong></span>
                            <span class="kids-goal">Goal: <strong>90.000$</strong></span>
                        </div>
                    </div>
                    <div class="kids-content">
                        <h3>
                            <a href="single-cause.html">
                                Chikezie Mike
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et
                            dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                    <a href="single-cause.html" class="btn btn-kts rounded-pill kids-donate">
                        Donate Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>