

<div class="modal fade" id="addEnvoyModalForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">


    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Join Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <form class="envoy-form">
                                <div class="form-group col-md-12 my-4">
                                    <div class="alert alert-dark error d-none" role="alert">
                                        A simple dark alert—check it out!
                                    </div>
                                </div>
                                <fieldset>
                                    <div class="form-group highlight col-md-12 my-4">
                                        <label for="type">Category</label>
                                        <select class="form-control" id="category">
                                            <option value=""></option>
                                            <option value="Envoy">Envoy</option>
                                            <option value="Sponsor">Sponsor</option>
                                        </select>
                                    </div>
                                    <div class="form-group highlight col-md-12 my-4">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" id="first_name">
                                    </div>
                                    <div class="form-group highlight col-md-12 my-4">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" id="last_name" >
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group highlight col-md-12 my-4">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender">
                                            <option value=""></option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group highlight col-md-12 my-4">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group highlight col-md-12 my-4">
                                        <label for="phone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="text-center my-4">
                                Already have a memeber? <a href="/login" class="text-primary">Login</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="hero__btn w-100 d-flex">
                                <a href="#" id="envoyBack" class="btn sbtn hero-btn d-none  mb-3 mr-2 w-100" data-animation="fadeInLeft" data-delay=".8s" tabindex="0"
                                    style="animation-delay: 0.8s;">
                                    <i class="fas fa-long-arrow-alt-left"></i>
                                    Back </a>

                                <a href="#" data-id="0" id="envoyNext" class="btn sbtn hero-btn mb-3 ml-2 w-100" data-animation="fadeInLeft" data-delay=".8s" tabindex="0"
                                    style="animation-delay: 0.8s;">
                                    Next <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>