<!-- Numbers Section -->
<section id="numbers">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="number">
                    <i class="far fa-smile-beam"></i>
                    <h3>47k</h3>
                    <span>Sponsors</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number">
                    <i class="fa fa-heartbeat"></i>
                    <h3>154k</h3>
                    <span>Children Saved</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number">
                    <i class="far fa-money-bill-alt"></i>
                    <h3>785k</h3>
                    <span>Donated</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number">
                    <i class="far fa-handshake"></i>
                    <h3>365</h3>
                    <span>Volunteers</span>
                </div>
            </div>
        </div>
    </div>
</section>