<!-- Testimonial -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-owl" class="owl-carousel owl-theme">
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <div class="testimonial-img">
                                <img src="/images/profile/team/avatar-1.jpg" alt="">
                            </div>
                            <h3>John Doe</h3>
                            <span>Volunteer</span>
                        </div>
                        <div class="testimonial-quote">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua.
                                </p>
                                <i class="fas fa-quote-right"></i>
                            </blockquote>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <div class="testimonial-img">
                                <img src="/images/profile/team/avatar-2.jpg" alt="">
                            </div>
                            <h3>John Doe</h3>
                            <span>Volunteer</span>
                        </div>
                        <div class="testimonial-quote">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua.
                                </p>
                                <i class="fas fa-quote-right"></i>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>