<div class="row my-4 px-3">
    <div class="col-12">
        <div class="float-left d-flex">
            <div class="mdl-kid-form mt-5">
                <a href="/admin/Kids/add_kid" class="btn btn-outline-kts">
                    <i class="fas fa-plus"></i>
                    Add A Kid
                </a>
            </div>
            <div class="btn-group dropright mt-5 ml-2">
                <button type="button" class="btn btn-outline-kts dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu bingo" data-url="/envoy/Kids/Filter">
                    <!-- Dropdown menu links -->
                    <li>
                        <a class="dropdown-item deep p-3" href="#">
                            <i class="fas fa-check mr-2"></i>
                            By Gender
                        </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item deep" data-data="gender-Male" data-order="ASC" href="#">Male</a></li>
                            <li><a class="dropdown-item deep" data-data="gender-Female" data-order="ASC" href="#">Female</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item deep p-3" href="#">
                            <i class=" mr-2 text-left"></i>
                            <span class="text-center">By Category</span>
                        </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item deep" data-data="category-Kids To School" data-order="ASC" href="#">Kids To
                                    School</a></li>
                            <li><a class="dropdown-item deep" data-data="category-Kids To Arts" data-order="ASC" href="#">Kids To
                                    Arts</a></li>
                            <li><a class="dropdown-item deep" data-data="category-Kids To Tech" data-order="ASC" href="#">Kids To
                                    Tech</a></li>
                            <li><a class="dropdown-item deep" data-data="category-Kids To Sports" data-order="ASC" href="#">Kids To
                                    Sports</a></li>
                        </ul>
            
                    </li>
                    <li>
                        <a class="dropdown-item deep p-3" data-date="date_joined" data-order="ASC" href="#">
                            <i class=" mr-2 text-left"></i> By Date Joined
                        </a>
            
                    </li>
                    <li>
                        <a class="dropdown-item deep p-3" href="#">
                            <i class=" mr-2 text-left"></i>
                            By Date of Birth
                        </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="" href="#">
                                    <input class="form-control filter-dob px-3" type="text" placeholder="Enter year" />
                            </li>
                            <li>
                                <a class="dropdown-item deep dob-btn" data-dob="" data-order="ASC" href="#">
                                    <button type="button" class="btn btn-kts">
                                        Enter >>
                                    </button>
                                </a>
                            </li>
                        </ul>
            
                    </li>
                </ul>
            </div>
        </div>
        <div class="float-right">
            <% if (kds.length> 0) {%>
                <h5 class=" mt-5">
                    Showing <%= start %> - <%= section %> of <%= total %> results
                </h5>
                <% } else { %>
                    <h5 class="mt-5">
                        No Results.
                    </h5>
                    <% } %>
        </div>
        
    </div>
</div>