<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 ext-lg-5">
        <div class="card card-stats pb-4 pt-1 px-md-3 px-sm-1">
            <div class="container">
                <div class="row">
                    <div class="graph-top mb-3">
                        <div class="float-left">
                            <h3>Kids Category Distribution</h3>
                        </div>
                    </div>
                    <div class="category-chart my-3">
                        <div class="data deactivated">
                            <span class="A">
                                <%= graph.kts %>
                            </span>
                            <span class="B">
                                <%= graph.ktsp %>
                            </span>
                            <span class="C">
                                <%= graph.kta %>
                            </span>
                            <span class="D">
                                <%= graph.ktt %>
                            </span>
                        </div>
                        <div class="yart">
                            <ul class="numbers">
                                <li class="max"><span></span></li>
                                <li class="half"><span></span></li>
                                <li class="zero"><span>0</span></li>
                            </ul>
                            
                            <ul class="bars">
                                <li>
                                    <div data-height="0" class="bar">
                                        <div class="per"></div>
                                    </div>
                                    <span></span>
                                </li>
                            </ul>
                        </div>

                        <div class="yart-no-data deactivated text-center mt-4">
                            <h4 class="text-danger">No Data</h4>
                        </div>
                        

                    </div>
                    <div class="explain mt-5">
                        <ul class="explain-list">
                            <li>
                                <div class="set">
                                    <span>A : </span>
                                    <span>Kids To School</span>
                                </div>
                            </li>

                            <li>
                                <div class="set">
                                    <span>B : </span>
                                    <span>Kids To Sports</span>
                                </div>
                            </li>

                            <li>
                                <div class="set">
                                    <span>C : </span>
                                    <span>Kids To Arts</span>
                                </div>
                            </li>

                            <li>
                                <div class="set">
                                    <span>D : </span>
                                    <span>Kids To Tech</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 red-lg-2">
        <div class="card card-stats px-3">
            <div class="container">
                <div class="row">
                    <div class="graph-top mb-3">
                        <div class="float-left">
                            <h3>Recent Messages</h3>
                        </div>
                    </div>

                    <div class="convos">
                        <div class="box my-3">
                            <div class="box-img">
                                <img src="/images/profile/avatar/avatar_1.jpg" class="img-fluid">
                            </div>
                            <div class="box-content">
                                <h3>Hank Davids</h3>
                                <span> ADM-0001</span>
                                <span> 5:30 pm</span>
                            </div>
                        </div>

                        <div class="box my-3">
                            <div class="box-img">
                                <img src="/images/profile/avatar/avatar_1.jpg" class="img-fluid">
                            </div>
                            <div class="box-content">
                                <h3>Hank Davids</h3>
                                <span> ADM-0001</span>
                                <span> 5:30 pm</span>
                            </div>
                        </div>

                        <!-- <div class="box my-3">
                                                <div class="box-img">
                                                    <img src="/images/profile/avatar/avatar_1.jpg" class="img-fluid">
                                                </div>
                                                <div class="box-content">
                                                    <h3>Hank Davids</h3>
                                                    <span> ADM-0001</span>
                                                    <span> 5:30 pm</span>
                                                </div>
                                            </div> -->

                    </div>

                    <div class="bottom tex-center w-100 mt-4 pt-4 pb-lg-2 pb-md-2">
                        <a href="#" class="btn btn-kts">Start Conversation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>