<div class="overlay deactivated">
    <div class="close-sidebar">
        <i class="fas fa-times"></i>
    </div>
</div>
<!-- Over Lay End -->
<!-- The Modal -->
<!-- Kid Form Modal -->
<div class="modal fade bd-example-modal-xl" id="addKidModalForm" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="addKidModalFormCenterTitle" aria-hidden="true">
    <div class="close-modal">
        <i class="fas fa-times"></i>
    </div>

    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content card-modal-box mt-5">
            <div class="card-modal-header bg-success">
                <h4 class="card-modal-title ">Kids Form</h4>
                <p class="card-modal-description">Add a Child for the Kids To school Foundation.</p>

            </div>

            <div class="modal-body card-modal-body card-modal-scrollable mt-5">
                <form class=" mt-4" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group my-4">
                                <h3 class="fieldset-name text-center">Personal Bio</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group error my-4"></div>
                        </div>
                    </div>
                    <fieldset>
                        <div class="form-row">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Category</label>
                                    <select class="form-control category" id="category" required>
                                        <option value="" selected="selected">Choose option</option>
                                        <option value="Kids To School">Kids To School</option>
                                        <option value="Kids To Sports">Kids To Sports</option>
                                        <option value="Kids To Arts">Kids To Arts</option>
                                        <option value="Kids To Tech">Kids To Tech</option>
                                    </select>
                                    <span class="text-danger category-error my-1"></span>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname"
                                        placeholder="First Name.....">
                                    <span class="text-danger fname-error my-1"></span>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Middle Name</label>
                                    <input type="text" class="form-control" id="mname" name="mname"
                                        placeholder="Middle Name.....">
                                    <span class="text-danger mname-error my-1"></span>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname"
                                        placeholder="Last Name.....">
                                    <span class="text-danger lname-error my-1"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">DOB</label>
                                    <input type="date" class="form-control" id="dob" name="dob"
                                        placeholder="Date of Birth">
                                    <span class="text-danger dob-error my-1"></span>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Age</label>
                                    <input type="text" class="form-control" id="age" name="age" placeholder="Age....."
                                        disabled>
                                    <span class="text-danger age-error my-1"></span>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Gender</label>
                                    <select class="form-control" id="gender">
                                        <option value="">Select a Gender .....</option>
                                        <option value="Male"> Male </option>
                                        <option value="Female"> Female </option>
                                    </select>
                                    <span class="text-danger gender-error my-1"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Country of residence</label>
                                    <input class="form-control" id="country" name="country" placeholder="country....."
                                        value="Nigeria" disabled>
                                    <span class="text-danger country-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">State of Origin</label>
                                    <select class="form-control" id="state-o">

                                    </select>
                                    <span class="text-danger state-o-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">State of Resdence</label>
                                    <select class="form-control" id="state-r">

                                    </select>
                                    <span class="text-danger state-r-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Local Government Area</label>
                                    <input type="text" class="form-control" id="lga" name="lga"
                                        placeholder="Local Government Area....">
                                    <span class="text-danger lga-error my-1"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email....">
                                    <span class="text-danger email-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-row">
                                    <div class="col-4">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Code</label>
                                            <input type="text" class="form-control" id="countryCode" disabled="">
                                            <span class="text-danger code-error my-1"></span>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Telephone</label>
                                            <input type="tel" class="form-control" id="telephone"
                                                placeholder="Phone Number....">
                                            <span class="text-danger tely-error my-1"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">School Name</label>
                                    <input type="text" class="form-control" id="sname" name="sname"
                                        placeholder="School Name....">
                                    <span class="text-danger sname-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Level of Study</label>
                                    <select class="form-control" id="los">

                                    </select>
                                    <span class="text-danger los-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Class</label>
                                    <select class="form-control" id="class">

                                    </select>
                                    <span class="text-danger class-error my-1"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">School Address</label>
                                    <textarea class="form-control" id="saddress" placeholder="School Address..."
                                        row="2"></textarea>
                                    <span class="text-danger saddress-error my-1"></span>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">School Fees</label>
                                    <input type="number" class="form-control" id="sfees" placeholder="School Fees ....."
                                        min="0">
                                    <span class="text-danger sfees-error my-1"></span>
                                </div>
                            </div> -->
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Other Details</label>
                                    <textarea class="form-control" id="sother" placeholder="School Address..."
                                        rows="6"></textarea>
                                    <span class="text-danger sother-error my-1"></span>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Parent Title</label>
                                    <select class="form-control" id="ptitle">
                                        <option value="" selected>Choose Parent Title</option>
                                        <option value="Grand-Father">Grand-Father</option>
                                        <option value="Grand-Mother">Grand-Mother</option>
                                        <option value="Father">Father</option>
                                        <option value="Mother">Mother</option>
                                        <option value="Brother">Brother</option>
                                        <option value="Sister">Sister</option>
                                        <option value="Uncle">Uncle</option>
                                        <option value="Other">Other</option>

                                    </select>
                                    <input type="hidden" class="form-control mt-2" id="ptitle2" name="ptitle"
                                        placeholder="Enter Parent Title....">
                                    <span class="text-danger ptitle-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Parent Name</label>
                                    <input type="text" class="form-control" id="pname" name="pname"
                                        placeholder="Parent Name....">
                                    <span class="text-danger pname-error my-1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Parent Email</label>
                                    <input type="email" class="form-control" id="pemail" name="pemail"
                                        placeholder="Parent Email....">
                                    <span class="text-danger pemail-error my-1"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Parent Telephone</label>
                                    <input type="tel" class="form-control" id="ptel" name="ptel"
                                        placeholder="Parent Telephone....">
                                    <span class="text-danger ptel-error my-1"></span>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Story</label>
                                    <textarea class="form-control" id="story" rows="8"></textarea>
                                    <span class="text-danger story-error my-1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Goal</label>
                                    <textarea class="form-control" id="goal" rows="8"></textarea>
                                    <span class="text-danger goal-error my-1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group dilly bmd-form-group">
                                    <label class="bmd-label-floating">Birth Certificate</label>
                                    <input type="file" class="form-control" id="bc"
                                        placeholder="upload a document.....">
                                    <span class="text-danger bc-error my-1"></span>
                                </div>
                                <div class="form-group bmd-form-group mt-5 jev text-center deactivated">
                                    <h5 class="text-info text-center path">

                                    </h5>
                                    <a href="#" class="btn btn-danger delete-file text-center">
                                        <i class="far fa-times-circle"></i>
                                        Delete File
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group filly bmd-form-group">
                                    <label class="bmd-label-floating">Profile Picture</label>
                                    <input type="file" class="form-control" id="profilePic"
                                        placeholder="upload an image.....">
                                    <span class="text-danger pp-error my-1"></span>
                                </div>
                                <div class="form-group bmd-form-group mt-5 prev text-center deactivated">
                                    <label class="bmd-label-floating">Picture Preview</label><br>
                                    <img id="frame" class="img-fluid border float-right" width="200px" height="150px">
                                    <a href="#" class="btn btn-danger delete-image text-center">
                                        <i class="far fa-times-circle"></i>
                                        Delete Image
                                    </a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                
                <div class="row">
                    <div class="col-12">
                        <div class="form-group error my-4"></div>
                    </div>
                    <div class="col-12 float-right">
                        <button type="button" class="btn btn-secondary rounded-pill back deactivated">
                            <i class="fas fa-long-arrow-alt-left"></i>
                            Back
                        </button>
                        <button type="button" class="btn btn-outline-kts next" id="submitKid" data-type="add" data-url="/admin/Kids/add_kid">
                            <i class="fas fa-long-arrow-alt-right"></i>
                            Next
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Key Form Modal End -->