<script src="/js/personal/sidebar-2.js"></script>
<script src="/js/personal/helper.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="/js/personal/script_7.js"></script>
<script src="/js/personal/graph_2.js"></script>
<script src="/js/personal/socket_1.js"></script>
</body>

</html>