<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kids To School - Sponsor <%= title %></title>
    <meta name="theme-color" content="#ffffff">

    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/logo/logo-1.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- icon CSS -->
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">

    <!-- personnal CSS -->
    <link rel="stylesheet" href="/css/personal/kts.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery/jquery-migrate.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/swal/sweetalert2.all.min.js"></script>
    <script src="/js/chart/Chart.min.js"></script>
    <script src="/js/socket/socket.io.min.js"></script>

    
</head>
<body>