<div class="row jsutify-content-space-between my-4">
    <div class="col-md-4">
        <div class="savings-card qk my-2 bg-success">
            <div class="savings-card-icon icon-warning">
                <i class="fas fa-plus"></i>
            </div>
            <div class="savings-card-bg"></div>
            <div class="savings-card-title">
                Quick Save
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="savings-card as my-2 bg-warning">
            <div class="savings-card-icon icon-warning">
                <i class="fas fa-plus"></i>
            </div>
            <div class="savings-card-bg"></div>
            <div class="savings-card-title">
                Auto Save
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="savings-card dn my-2 bg-info">
            <div class="savings-card-icon icon-info">
                <i class="fas fa-plus"></i>
            </div>
            <div class="savings-card-bg"></div>
            <div class="savings-card-title">
                Donate
            </div>
        </div>
    </div>

</div>