<div class="row jsutify-content-space-between my-4">
    <div class="col-md-4">
        <div class="savings-card qk my-2 bg-success h-258">
            <div class="savings-card-icon icon-warning">
                <i class="fas fa-plus"></i>
            </div>
            <div class="savings-card-bg"></div>
            <div class="savings-card-title">
                Quick Save
            </div>
            <p class="w-100 tex-right ml-md-3">
                Money Put here is stored in your e-wallet
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="savings-card as my-2 bg-warning h-258">
            <div class="savings-card-icon icon-warning">
                <i class="fas fa-plus"></i>
            </div>
            <div class="savings-card-bg"></div>
            <div class="savings-card-title">
                Auto Save
            </div>
            <p>
                Enable Auto save for recurrent deductions to e-wallet
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="savings-card dn my-2 bg-info h-258">
            <div class="savings-card-icon icon-info">
                <i class="fas fa-plus"></i>
            </div>
            <div class="savings-card-bg"></div>
            <div class="savings-card-title">
                Donate
            </div>
            <p>
                Money in this wallet is used to attend to kids that are not focused on.
            </p>
        </div>
    </div>

</div>