<% include includes/head %>
    <header>
        <% include includes/navbar %>
    </header>
    <main>
        <% include includes/hero %>
        <% include includes/aboutus %>
        <% include includes/numbers %>
        <% include includes/call-to-action %>
        <% include includes/events %>
        <% include includes/testimonial %>
        <% include includes/blog %>
    </main>
    <footer id="footer">
        <% include includes/footer %>
    </footer>

<!-- Personnal Js Script -->
<script src="/js/personal/script_0.js"></script>

</body>

</html>