<% include includes/head %>
    <div class="wrapper">
        <% include includes/sidebar %>
        <div class="main-content">
            <% include includes/navbar2 %>
            <div class="content">
                <div class="container-fluid">

                    <!-- BreadCrumb -->
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb bg-light-mode">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fas fa-home"></i> Home
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <i class="fas fa-th-large"></i> Dashboard
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- BreadCrumb End -->

                    <!-- Stats -->
                    <% include includes/stats %>
                    <!-- Stats End -->

                    <!-- wallet section  -->
                    <% include includes/savings %>
                    <!-- wallet section End -->

                    <!-- pie chart and chat area -->
                    <% include includes/pieChat %>
                    <!-- pie chart and chat area end  -->



                </div>
            </div>

        </div>
    </div>
    <div class="overlay deactivated">
        <div class="close-sidebar">
            <i class="fas fa-times"></i>
        </div>
    </div>
    
        
        
        

<% include includes/modal_2.ejs %>
<script>var user_id = "<%= user.user_id %>";</script>
<% include includes/foot.ejs%>
