<% include includes/head %>
    <div class="wrapper">
        <% include includes/sidebar %>
            <div class="main-content">
                <% include includes/navbar %>
                    <div class="content">
                        <div class="container-fluid">

                            <!-- BreadCrumb -->
                            <div class="row">
                                <div class="col-12">
                                    <ol class="breadcrumb bg-light-mode">
                                        <li class="breadcrumb-item">
                                            <a href="/sponsor">
                                                <i class="fas fa-home"></i> Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="/sponsor/kids">
                                                <i class='fas fa-child'></i> My Kids
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <i class='fas fa-child'></i> Kids
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <!-- BreadCrumb End -->

                            <!-- Kids Tab -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="w-100 py-0 mt-4 border-bottom ">
                                        <div class="row justify-content-space-between">
                                            <div class="col-md-6">
                                                <ul class="list-tab float-left">
                                                    <li class="get-kids" data-url="/sponsor/Kids">All Kids</li>
                                                    <li class="active get-kids" data-url="/sponsor/MyKids">My Kids</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list-tab float-right">
                                                    <li class="<%= tab.tab_grid %> grid list-tab-item"><i
                                                            class="fas fa-th"></i></li>
                                                    <li class="<%= tab.tab_list %> list-tab-item listn"><i
                                                            class="fas fa-list-ul"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Kids Tab-->

                            <!-- Query summary and filter result -->
                            <% include includes/myKidRow-1 %>
                                <!-- Query summary result  End-->
                            
                            <!-- Grid View -->
                            <% include includes/kidGrid %>
                            <!-- Grid View End-->
                            
                            <!-- Kids Table -->
                            <% include includes/KidTable %>
                            <!-- Kids Table End -->
                
                            <!-- Pagination-buttons -->
                            <% include includes/myKidPagination_f %>
                            <!-- Pagination-buttons End-->
                        </div>
                    </div>

            </div>

    </div>
    <% include includes/modal_1.ejs %>
    <% include includes/modal_4.ejs %>
    <script>var user_id = "<%= user.user_id %>";</script>
    <script src="/js/personal/sidebar.js"></script>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="/js/personal/script_6.js"></script>
    <script src="/js/personal/helper.js"></script>
    <script src="/js/personal/socket_1.js"></script>
</body>

</html>