<!-- Add Button -->
<div class="row">
    <div class="col-12">
        <div class="float-left mdl-envoy-form my-5">
            <a href="/admin/Envoys/add_envoy" class="btn btn-outline-kts">
                <i class="fas fa-plus"></i>
                Add An Envoy
            </a>
        </div>
    </div>
</div>
<!-- End Add Button-->