<!-- Add Button -->
<div class="row">
    <div class="col-12">
        <div class="float-left mdl-kid-form my-5">
            <a href="/admin/Kids/add_kid" class="btn btn-outline-kts">
                <i class="fas fa-plus"></i>
                Add A Kid
            </a>
        </div>
    </div>
</div>
<!-- End Add Button-->