<!-- Add Button -->
<div class="row">
    <div class="col-12">
        <div class="float-left mdl-sponsor-form my-5">
            <a href="/admin/Sponsors/add_sponsor" class="btn btn-outline-kts">
                <i class="fas fa-plus"></i>
                Add A Sponsor
            </a>
        </div>
    </div>
</div>
<!-- End Add Button-->