html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  font-family: 'Muli', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli', sans-serif;
  color: #072366;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #635c5c;

  &:hover {
    color: #fff;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a,
button {
  color: #fff;
  outline: medium none;
}

.header-btn {
  padding: 30px 57px;
}

.w-200 {
  width: 200% !important;
  @media (max-width: 992px) {
    float: left;
    margin-top: 30px;
  }
}

.sbtn {
  // background: #09cc7f;
  background: rgb(28, 154, 226);
  font-family: 'Muli', sans-serif;
  text-transform: capitalize;
  padding: 27px 44px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  line-height: 1;
  // -moz-user-select: none;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
  border-radius: 9px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    // background: #24ac75;
    background: rgb(17, 84, 122);
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 9px;
  }
  &:hover {
    background-position: right;
    color: #fff;
    &::before {
      transform: scaleX(1);
      color: #fff !important;
      z-index: -1;
    }
  }
}

.section-padding30 {
  padding-top: 195px;
  padding-bottom: 180px;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 150px;
    padding-bottom: 140px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  @media (max-width: 575px) {
    padding-top: 65px;
    padding-bottom: 70px;
  }
}

.section-padding2 {
  padding-top: 200px;
  padding-bottom: 200px;

  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (max-width: 575px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-160 {
  padding-top: 160px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pt-25 {
  padding-top: 25px;
}

.w-padding2 {
  padding: 80px 50px;

  @media (max-width: 992px) {
    padding: 80px 5px;
  }
}

.f-right {
  float: right;
}

// .sm-left {
//   @media (max-width: 575px) {
//     // float: left;
//     // margin-top: 30px;
//     margin: 30px 10% 30px 10%;
//   }
// }

.section-tittle {
  span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px;
    color: rgb(28, 154, 226);
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em;

    @media (max-width: 575px) {
      font-size: 14px;
      padding-left: 0px;
      text-align: left;
    }
  }

  h2 {
    font-size: 42px;
    display: block;
    color: #072366;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.4;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 41px;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      font-size: 31px;
    }

    @media (max-width: 575px) {
      text-align: left;
      font-size: 27px;
    }
  }

  @media (max-width: 575px) {
    margin-bottom: 50px;
    text-align: left !important;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  &:hover {
    border-color: #dbdbdb;
  }

  &:active,
  &.open,
  &:focus {
    border-color: #999;
  }

  &:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
  }

  &.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
    &:after {
      border-color: #cccccc;
    }
  }

  &.open {
    .list {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
    }
    &:after {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }

  &.right {
    float: right;
    .list {
      left: auto;
      right: 0;
    }
  }

  &.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;

    .option {
      line-height: 34px;
      min-height: 34px;
    }
    &:after {
      height: 4px;
      width: 4px;
    }
  }

  .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(68, 68, 68 / 11%);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
      opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;

    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }

  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &:hover,
    &.focus,
    &.selected.focus {
      background-color: #f6f6f6;
    }

    &.selected {
      font-weight: bold;
      font-weight: bold;
    }
  }
}

.logo {
  img {
    max-width: 150px;
    max-height: 75px;
  }
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.slick-initialized .slick-slide {
  outline: 0;
}

.hero-btn {
  padding: 30px 62px;
}

.white-btn {
  padding: 30px 39px;
  background: #fff;
  color: #072366 !important;
  width: 100% !important;

  &::before {
    background: rgb(28, 154, 226);
    color: #fff !important;
  }
}

.cal-btn {
  i {
    color: #09cc7f !important;
    font-size: 31px;
    font-weight: 300;
    margin-right: 10px;
  }
}

.cal-btn {
  p {
    color: #072366 !important;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin: 0 !important;
    position: relative;
    top: -7px;
  }
}

.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;

  .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    // border-top-color: #09cc7f;
    background-color: rgb(28, 154, 226);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;

    img {
      max-width: 55px;
    }
  }

  .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

.section-tittle {
  @media (max-width: 575px) {
    margin-bottom: 50px;
    text-align: left !important;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    margin-bottom: 50px;
  }

  span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px;
    color: rgb(28, 154, 226);
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em;
    @media (max-width: 575px) {
      font-size: 14px;
      padding-left: 0px;
      text-align: left;
    }
  }

  h2 {
    font-size: 42px;
    display: block;
    color: #072366;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.4;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 41px;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      font-size: 31px;
    }

    @media (max-width: 575px) {
      text-align: left;
      font-size: 27px;
    }
  }
}

.main-header {
  position: relative;
  z-index: 3;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);

  .header-sticky {
    &.sticky-bar {
      background: #fff;
      &.sticky {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          padding: 15px 0px;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
          padding: 15px 0px;
        }

        @media (max-width: 575px) {
          padding: 15px 0px;
        }

        .main-menu ul li a {
          padding: 20px 20px !important;
        }
      }
    }
  }

  .header-top {
    padding: 9px 130px;
    border-bottom: 1px solid #f0f1f2;
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      padding: 9px 30px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 9px 15px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding: 9px 50px;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      padding: 9px 20px;
    }

    @media (max-width: 575px) {
      padding: 9px 0px;
    }

    .header-info-left > ul > li {
      color: #687693;
      display: inline-block;
      margin-right: 18px;
      padding-right: 18px;
      border-right: 1px solid #687693;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;

      &:last-child {
        margin-right: 0px;
      }
    }

    .header-info-left > ul > li i {
      margin-right: 8px;
    }

    .header-info-left .header-social > ul > li {
      display: inline-block;

      a {
        color: #7b8693;
        font-size: 14px;
        padding-left: 25px;
        i {
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
          transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
        }

        &:hover {
          color: rgb(28, 154, 226);
          i {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
          }
        }
      }
    }

    .header-info-right {
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      .select-this .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: #687693;
        &::after {
          border-bottom: 1px solid #687693;
          border-right: 1px solid #687693;
          height: 7px;
          width: 7px;
          margin-top: -7px;
        }
      }

      span,
      a {
        font-size: 14px;
        line-height: 1;
        font-weight: 500;
      }

      .contact-now li a {
        color: #687693;
        border-left: 1px solid #687693;
        font-size: 14px;
        line-height: 1;
        padding-left: 21px;
        margin-left: 10px;
        font-weight: 500;
      }
    }

    .header-info-right .select-this .nice-select .option:hover,
    .header-info-right .select-this .nice-select .option.focus,
    .header-info-right .select-this .nice-select .option.selected.focus {
      background-color: rgb(28, 154, 226);
    }
  }

  .header-bottom {
    padding: 0px 130px;
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      padding: 0px 30px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 0px 15px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding: 15px 50px;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      padding: 15px 20px;
    }

    @media (max-width: 575px) {
      padding: 15px 0px;
    }

    .main-menu {
      margin-right: 30px;

      ul {
        li {
          display: inline-block;
          position: relative;
          z-index: 1;

          &:hover {
            a {
              color: rgb(28, 154, 226);
            }
          }

          a {
            color: #072366;
            font-weight: 400;
            padding: 39px 19px;
            display: block;
            font-size: 16px;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            text-transform: capitalize;

            @media only screen and (min-width: 992px) and (max-width: 1199px) {
              padding: 39px 14px;
            }
          }
        }

        ul.submenu {
          position: absolute;
          width: 170px;
          background: rgba(0, 12, 32, 0.6);
          left: 0;
          top: 90%;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
          padding: 17px 0;
          border-top: 5px solid rgb(28, 154, 226);
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;

          li {
            margin-left: 7px;
            display: block;

            a {
              padding: 6px 10px !important;
              font-size: 16px;
              color: #fdfdfd;
              &:hover {
                color: rgb(28, 154, 226);
                background: none;
                padding-left: 13px !important;
              }
            }
          }
        }
      }
    }
  }
}

.slider-area {
  background-image: url(../../images/bg-img/h1_hero.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px;
  height: 500px;
  @media only screen and (max-width: 992px) {
    background-size: contain;
  }

  .hero__caption {
    h1 {
      font-size: 70px;
      font-weight: 800;
      margin-bottom: 14px;
      color: #002d5b;
      line-height: 1.2;
      text-transform: capitalize;
      margin-bottom: 29px;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 60px;
        line-height: 1.2;
      }

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 50px;
        line-height: 1.2;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        font-size: 35px;
        line-height: 1.2;
      }

      @media (max-width: 575px) {
        font-size: 35px;
        line-height: 1.2;
      }
    }

    span {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 300;
      margin-bottom: 39px;
      color: rgb(28, 154, 226);
      margin-bottom: 37px;
      text-transform: uppercase;
      display: inline-block;

      @media (max-width: 575px) {
        margin-bottom: 30px;
      }
    }

    p {
      color: #464d65;
      margin-bottom: 42px;
      @media (max-width: 575px) {
        padding-right: 56px;
      }
    }

    .hero__btn {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}

.slider-area2 {
  background-image: url(../img/hero/hero2.png);
  background-repeat: no-repeat;
  background-size: cover;

  .hero-cap {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-top: 50px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-top: 50px;
    }

    @media (max-width: 575px) {
      padding-top: 50px;
    }
  }

  h2 {
    color: #072366;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1;

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      font-size: 50px;
    }

    @media (max-width: 575px) {
      font-size: 35px;
    }
  }
}

.service-area {
  background: #f8fcff;

  .single-cat {
    background: #ffffff;
    border-radius: 6px;
    padding: 85px 22px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: relative;
    z-index: 1;

    @media (max-width: 575px) {
      padding: 50px 22px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 0;
      background: rgb(28, 154, 226);
      transition: 0.6s;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 6px;
    }

    .cat-icon span {
      margin-bottom: 50px;
      width: 90px;
      height: 90px;
      background: rgb(28, 154, 226);
      line-height: 90px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      font-size: 40px;
      color: #fff;
    }

    .cat-cap {
      h5 > a {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 21px;
        display: block;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        font-family: 'Muli', sans-serif;

        @media only screen and (min-width: 576px) and (max-width: 767px) {
          font-size: 26px;
        }

        @media (max-width: 575px) {
          font-size: 26px;
        }
      }

      p {
        margin-bottom: 36px;
        color: #57667e;
        font-size: 16px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        letter-spacing: 1px;

        @media only screen and (min-width: 576px) and (max-width: 767px) {
          font-size: 15px;
        }
      }

      a {
        color: #1c165c;
        font-size: 16px;
        font-weight: 600;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
      }
    }

    &.active {
      .cat-icon span {
        color: rgb(28, 154, 226);
        background: #fff;
      }

      &::before {
        height: 100%;
      }

      .cat-cap h5 {
        color: #fff;
      }

      .cat-cap p {
        color: #fff;
      }

      .cat-cap a {
        color: #fff;
      }
    }

    &:hover {
      &::before {
        height: 100%;
      }

      .cat-icon span {
        color: rgb(28, 154, 226);
        background: #fff;
      }

      .cat-cap h5 {
        color: #fff;
      }

      .cat-cap p {
        color: #fff;
      }

      .cat-cap a {
        color: #fff;
      }
    }
  }
}

.about-low-area {
  position: relative;

  .about-caption {
    @media (max-width: 575px) {
      margin-bottom: 35px;
    }
    p {
      font-size: 16px;
      color: #64676c;
      line-height: 1.6;
      margin-bottom: 43px;
      padding-right: 50px;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding-right: 20px;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        padding-right: 0px;
      }

      @media (max-width: 575px) {
        padding-right: 0px;
      }
    }
  }

  .about-img {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-top: 50px;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      padding-top: 50px;
    }

    @media (max-width: 575px) {
      padding-top: 50px;
    }

    .about-font-img {
      position: absolute;
      z-index: 1;
      left: 80px;
      bottom: 0;

      img {
        @media (max-width: 575px) {
          width: 100%;
        }
      }
    }

    .about-back-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;

      img {
        @media (max-width: 575px) {
          width: 90%;
        }
      }

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        position: unset;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        position: unset;
      }

      @media (max-width: 575px) {
        position: unset;
      }
    }
  }
}

.our-cases-area {
  background: #f8fcff;
  .single-cases {
    .cases-img {
      overflow: hidden;

      img {
        width: 100%;
        transform: scale(1.05);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
    }

    .cases-caption {
      padding: 24px 20px 10px 20px;
      background: #fff;

      h3 {
        a {
          font-size: 21px;
          font-weight: 800;
          line-height: 1.4;
          margin-bottom: 40px;
          display: block;

          @media only screen and (min-width: 576px) and (max-width: 767px) {
            font-size: 16px;
          }

          @media (max-width: 575px) {
            font-size: 16px;
          }

          &:hover {
            color: rgb(28, 154, 226);
          }
        }
      }

      .prices {
        p {
          color: #072366;
          font-size: 12px;

          @media (max-width: 575px) {
            font-size: 11px;
          }

          span {
            color: #072366;
            font-size: 16px;
            font-weight: 700;

            @media only screen and (min-width: 576px) and (max-width: 767px) {
              font-size: 13px;
            }
          }
        }
      }
    }

    &:hover {
      .cases-img {
        img {
          transform: scale(1);
        }
      }
    }
  }
}

.single-skill {
  display: flex;

  span {
    color: #79838b;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 14px;
    display: block;
  }

  .bar-progress {
    width: 100%;
  }

  .barfiller {
    width: 100%;
    height: 10px;
    background: #f6f9fc;
    position: relative;
    border-radius: 5px;

    .fill {
      display: block;
      position: relative;
      width: 0px;
      height: 100%;
      background: #333;
      z-index: 1;
      border-radius: 5px;
    }

    .tipWrap {
      display: none;
    }

    .tip {
      margin-top: -28px;
      padding: 2px 4px;
      font-size: 16px;
      color: rgb(28, 154, 226);
      left: 0px;
      position: absolute;
      z-index: 2;
      background: transparent;
      font-weight: 800;

      &:after {
        border: solid;
        border-color: rgba(0, 0, 0, 0.8) transparent;
        border-width: 6px 6px 0 6px;
        content: '';
        display: block;
        position: absolute;
        left: 9px;
        top: 100%;
        z-index: 9;
        display: none;
      }
    }
  }
}

.section-bg2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.single-job-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
  }

  .job-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @media (max-width: 992px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .company-img {
    @media (max-width: 992px) {
      width: 100% !important;
    }

    img {
      overflow: hidden;
      float: left;
      margin-right: 32px;
      z-index: 999;
      width: 100%;

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        margin-bottom: 20px;
      }

      @media (max-width: 575px) {
        margin-bottom: 20px;
      }
    }
  }

  .job-tittle {
    @media (max-width: 992px) {
      padding: 14px;
      text-align: center;
      width: 100%;
      margin-left: 0;
    }

    margin-left: 20px;

    // @media only screen and (min-width: 576px) and (max-width: 767px) {
    //   padding: 14px;
    //   text-align: center;
    // }

    a h4 {
      color: #454d72;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 26px;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;

      &:hover {
        color: rgb(28, 154, 226);
      }
    }

    ul li {
      display: inline-block;
      margin-right: 48px;
      font-size: 15px;
      color: #808080;
      line-height: 1.8;

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-right: 18px;
      }

      @media (max-width: 575px) {
        margin-right: 0px;
        margin-bottom: 7px;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 0px;
      }

      i {
        font-size: 14px;
        color: #bbbbbb;
        margin-right: 10px;
      }
    }
  }
}

.team-area {
  background: #f8fcff;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  @media (max-width: 575px) {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .single-team {
    .team-img {
      overflow: hidden;
      position: relative;
    }

    img {
      width: 100%;
      transform: scale(1);
      transition: all 0.6s ease-out 0s;
    }

    &:hover {
      .team-img {
        .team-social a {
          transform: translateY(0px);
          opacity: 1;
          visibility: visible;
        }

        img {
          transform: scale(1.06);
        }
      }
    }
  }

  .team-caption {
    background: #fff;
    padding: 15px 0px;
    text-align: center;

    h3 {
      margin-bottom: 3px;

      a {
        color: #33384e;
        font-weight: 700;
        font-size: 25px;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
          font-size: 18px;
        }

        &:hover {
          color: rgb(28, 154, 226);
        }
      }
    }

    p {
      color: #57667e;
    }
  }
}

.team-social {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  text-align: center;

  li {
    display: inline-block;

    &:nth-child(1) a {
      transition-delay: 0s;
    }

    &:nth-child(2) a {
      transition-delay: 0.1s;
    }

    &:nth-child(3) a {
      transition-delay: 0.3s;
    }

    a {
      color: #8ba4b1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      margin-left: 8px;
      display: inline-block;
      background: #fff;
      -webkit-transform: 0.4s;
      -moz-transform: 0.4s;
      -ms-transform: 0.4s;
      transform: 0.4s;
      transform: translateY(60px);
      opacity: 0;
      visibility: hidden;

      i {
        display: inline-block;
      }
    }
  }
}

.wantToWork-area {
  background: #f8fcff;
  padding-bottom: 150px;

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 100px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-bottom: 70px;
  }

  @media (max-width: 575px) {
    padding-bottom: 70px;
  }

  .wantToWork-caption {
    h2 {
      color: #fff;
      font-size: 35px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 30px;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        font-size: 35px;
        margin-bottom: 20px;
      }

      @media (max-width: 575px) {
        font-size: 25px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 18px;
    }
  }
}

.count-down-area {
  .count-down-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .single-counter {
    padding: 44px 10px 44px 9px;
    margin-bottom: 30px;

    .counter {
      font-size: 40px;
      font-family: 'Muli', sans-serif;
      line-height: 1;
      margin-bottom: 12px;
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
    }

    span {
      color: #fff;
      font-size: 24px;
    }

    p {
      font-size: 20px;
      line-height: 1;
      margin: 0;
      padding: 0;
      font-weight: 300;
      display: block;
      font-family: 'Muli', sans-serif;
      color: #fff;
    }
  }
}

.testimonial-padding {
  padding-top: 190px;
  padding-bottom: 170px;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 190px;
    padding-bottom: 170px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media (max-width: 575px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.testimonial-area {
  .testimonial-caption {
    .testimonial-top-cap {
      img {
        margin-bottom: 50px;
        width: auto;
        display: inline-block;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
          margin-bottom: 30px;
        }

        @media (max-width: 575px) {
          margin-bottom: 30px;
        }
      }

      p {
        color: #454d72;
        font-weight: 400;
        line-height: 2.1;
        padding: 0 26px;
        margin-bottom: 50px;
        font-size: 24px;
        margin-bottom: 30px;
        font-style: italic;

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 18px;
          line-height: 1.6;
          font-size: 16px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 1.7;
          padding: 0;
          font-size: 17px;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 1.7;
          padding: 0 5px;
          font-size: 18px;
        }

        @media (max-width: 575px) {
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 1.7;
          padding: 0 5px;
          font-size: 18px;
        }
      }
    }

    .testimonial-founder {
      .founder-img {
        img {
          margin-bottom: 30px;
          display: inline-block;
          font-weight: 300;
        }
        span {
          color: #454d72;
          font-size: 25px;
          font-weight: 700;
          line-height: 1;
          display: block;
          font-family: 'Muli', sans-serif;
          margin-bottom: 10px;
        }
      }
    }
  }

  .dot-style {
    .slick-dots {
      text-align: center;
      bottom: -49px;
      left: 0;
      right: 0;
      position: absolute;

      li {
        display: inline-block;
      }

      button {
        text-indent: -100000px;
        height: 9px;
        width: 9px;
        border: 0;
        padding: 0;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 50%;
        background: #eee;
      }

      .slick-active button {
        background: rgb(28, 154, 226);
      }
    }
  }

  button {
    &.slick-arrow {
      position: absolute;
      left: -60px;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      padding: 0;
      z-index: 2;
      height: 50px;
      width: 50px;
      line-height: 50px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 20px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: #616373;
      background: none;
      margin: 0 auto;
      bottom: 0;
      border: 1px solid #616373;

      :hover {
        border: 1px solid #f04e3c;
        color: #f04e3c;
      }
    }

    &.slick-next {
      left: auto;
      right: -60px;
    }

    i {
      font-size: 13px;
      position: relative;
      top: -3px;
    }
  }
}

.slick-initialized .slick-slide {
  outline: 0;
}

.footer-padding {
  padding-top: 160px;
  padding-bottom: 120px;

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  @media (max-width: 575px) {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}

.footer-area {
  .footer-tittle {
    h4 {
      color: #ffffff;
      font-size: 20px;
      margin-bottom: 29px;
      font-weight: 400;
      text-transform: capitalize;
    }

    ul li {
      color: #868c98;
      margin-bottom: 16px;

      a {
        color: #868c98;
        font-weight: 300;

        &:hover {
          color: rgb(28, 154, 226);
          padding-left: 5px;
        }
      }

      p {
        color: #868c98;
        font-weight: 300;
      }
    }
  }

  .footer-pera p {
    color: #868c98;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;

    &.footer-pera2 p {
      padding: 0;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-right: 0px;
    }
  }

  .footer-form {
    margin-top: 40px;

    form {
      position: relative;

      input {
        width: 100%;
        height: 43px;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius: 5px;
      }

      .form-icon button {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: 0;
        cursor: pointer;
        padding: 13px 22px;
        background: rgb(28, 154, 226);
        line-height: 1;
        border-radius: 0 3px 3px 0;
      }
    }

    .info.error {
      color: rgb(28, 154, 226);
    }
  }

  .footer-logo {
    img {
      width: 150px;
      height: 100px;
    }
  }
}

.footer-bottom-area {
  .footer-border {
    border-top: 1px solid #2d3544;
    padding: 33px 0px 20px;
  }

  .footer-copy-right {
    p {
      color: #888888;
      font-weight: 300;
      font-size: 16px;
      line-height: 2;
      margin-bottom: 12px;

      @media (max-width: 575px) {
        margin-bottom: 20px;
      }

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 20px;
      }

      i {
        color: rgb(28, 154, 226);
      }

      a {
        color: rgb(28, 154, 226);
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-social {
    a {
      color: #7b8693;
      font-size: 14px;
      padding-left: 20px;

      i {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
      }

      &:hover {
        color: rgb(28, 154, 226);
        i {
          transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -ms-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
        }
      }
    }
    @media (max-width: 575px) {
      float: left;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      float: left;
    }
  }
}

#back-top {
  background: rgb(28, 154, 226);
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  z-index: 5000;
}

@media (max-width: 575px) {
  /* line 436, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  #back-top {
    right: 16px;
  }
}

/* line 453, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */

#back-top a i {
  display: block;
  line-height: 50px;
}

.envoy-form {
  fieldset {
    &:first-of-type {
      display: block;
      width: 100%;
    }
    display: none;
    width: 0;
  }
  input {
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    font-size: 12px;
    width: 100%;

    &:focus {
      outline: none !important;
      outline-offset: none;
      outline-color: none;
      background: transparent;
      border: none;
      font-size: 24px;
      box-shadow: none;
      transition: ease-in-out 0.2s font-size;
    }
  }
  .highlight {
    &::after,
    &::before {
      content: ' ';
      width: 0%;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;

      transition: ease-in-out 0.2s all;
    }

    &::before {
      width: 100%;
      border-bottom: 3px solid #a39c9c;
    }

    &::after {
      border-bottom: 3px solid rgb(18, 82, 119);
    }

    &:focus-within::after {
      width: 100%;
    }
  }
}
