html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // background-color: #58cf7473;
  background-color: #eaeef5b4;
  background-attachment: fixed;
}

.activated {
  display: block;
}

.deactivated {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #631e9c;
}

form span {
  width: 100%;
  float: left !important;
}

.alert {
  width: 100%;
}

.btn-outline-kts {
  color: #631e9c;
  border: 1px solid #631e9c;
  border-radius: 30px;

  &:hover {
    color: #ffffff;
    background-color: #631e9c;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(156, 39, 176, 0.4);
  }
}

.bg-info {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

.bg-primary {
  background: linear-gradient(60deg, #ab47bc, #28a745);
  //background: linear-gradient(60deg, #ab47bc, #8e24aa);
}

.bg-success {
  // background: linear-gradient(60deg, #66bb6a, #43a047);
  background: linear-gradient(60deg, #a066bb, #631e9c);
}

.bg-warning {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.bg-danger {
  background: linear-gradient(60deg, #ef5350, #e53935);
}

.bg-rose {
  background: linear-gradient(60deg, #ec407a, #d81b60);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-color: #19191b;
  z-index: 1500;

  .close-sidebar {
    position: absolute;
    top: 0;
    left: calc(100% - 5%);
    padding: 15px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    @media (max-width: 991px) {
      left: calc(100% - 20%);
    }
  }
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  max-width: 100%;

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    width: 290px;
    background: #fff;
    transition: margin 0.5s;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    .logo {
      padding: 15px 12px;
      border: none;
      border-bottom: 1px solid rgba(180, 180, 180, 0.3);
      display: block;
      position: relative;

      a {
        border: none;
        text-decoration: none;
        //color: #28a728;
        color: #631e9c;
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
        white-space: nowrap;
        line-height: 30px;
        overflow: hidden;
        text-align: center;
        display: block;
      }
    }

    .sidebar-wrapper {
      position: relative;
      height: calc(100vh - 75px);
      overflow: auto;
      width: 290px;
      z-index: 4;
      padding-bottom: 30px;

      @media (max-width: 290px) {
        width: 200px;
      }
    }

    ul {
      margin-top: 10px;
      li {
        padding: 8px 15px;
        margin: 0;

        .search-area {
          width: 250px;
          background: #fff;
          //border-radius: 10px;
          font-size: 25px;
          height: auto;
          padding: 0;
          @media (max-width: 290px) {
            width: 150px;
          }

          .input-group-text {
            border: none;
            background: none;
            color: #535d6bea;
            cursor: pointer;
          }
          input {
            border: none;
            border-bottom: 1px solid #535d6bea;
            background: transparent;
            outline: none;

            &:focus {
              outline: none;
            }
          }
        }

        .nav-link {
          border-radius: 10px;
          padding: 13px 14px;
          font-size: 18px;
          color: #535d6bea;

          i {
            margin-right: 10px;
            font-size: 25px;
          }

          &:hover {
            border-radius: none;
            background-color: rgba(200, 200, 200, 0.2);
            color: #3c4858;
            box-shadow: none;
          }
        }

        &.active {
          .nav-link {
            // border: 1px solid #28a745;
            border: 1px solid #6e28a7;
            background-color: #6e28a7;
            // background-color: #28a745;
            color: #fff;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
              0 7px 10px -5px rgba(156, 39, 176, 0.4);
          }
        }
      }
    }

    @media (max-width: 290px) {
      width: 200px;
    }

    @media (max-width: 991px) {
      margin-left: -300px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &.show {
        margin-left: 0 !important;
      }
    }
  }

  .main-content {
    //position: fixed;
    top: 0;
    bottom: 0;
    left: 290px;
    z-index: 2;
    float: right;
    height: auto;
    width: calc(100% - 290px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);

    .navbar {
      justify-content: space-around !important;

      &.navbar-transparent {
        background-color: transparent !important;
        box-shadow: none;
        width: 100%;
        padding-top: 10px;
        z-index: 1029;
      }

      .toggle-nav {
        width: 48px;
        margin-left: 12px;
        display: none;

        .icon-reorder {
          cursor: pointer;
          font-size: 27px;
          color: #fff;
          color: #631e9c;
        }

        @media (max-width: 991px) {
          display: inline;
          width: 15%;
        }
      }

      .logo {
        font-size: 20px;
        font-style: oblique;
        font-weight: 900;
        //color: #fff !important;
        color: #631e9c !important;
        display: inline;
        text-transform: uppercase;
        text-decoration: none;
        float: left;
        width: 15%;
        z-index: 5;
        // margin-right: 300px;

        @media (max-width: 991px) {
          font-size: 18px;
          // margin-right: calc(100% - 69%);
          width: 70%;
        }
      }

      .middle {
        float: left;
        width: 50%;

        @media (min-width: 992px) and (max-width: 1198px) {
          width: 15%;
        }

        @media (max-width: 991px) {
          display: none;
        }
      }

      .navbar-collapse {
        display: flex;
        float: right;
        width: 35%;
        @media (min-width: 992px) and (max-width: 1198px) {
          width: 75%;
        }

        .not-caret::after {
          display: none;
        }

        .nav-item {
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }
        }

        .nav-link {
          //color: #fff;
          color: #631e9c;
          font-size: 24px;

          .info-count {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
            border-radius: 50%;
            text-align: center;
            padding: 1px 5px;
            background: #e53935;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            color: white;
          }
        }

        .dropdown-menu {
          padding: 0.3125rem 0.4rem;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          transition: transform 2s !important;
          a {
            font-size: 13px;
            color: #333333;
            &:hover {
              border-radius: 5px;
              // border: 1px solid #28a745;
              // background-color: #28a745;
              border: 1px solid #631e9c;
              background-color: #631e9c;
              color: #fff;
              box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
                0 7px 10px -5px rgba(156, 39, 176, 0.4);
            }
          }
        }

        .search-area {
          width: 250px;
          background: #fff;
          border-radius: 30px;
          border: none;
          //border: 1px solid #631e9c;
          font-size: 20px;
          height: auto;
          padding: 0;
          box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
            0 2px 1.25px -5px rgba(76, 175, 80, 0.4);

          .input-group-text {
            border: none;
            background: none;
            //color: #28a745;
            color: #631e9c;
            cursor: pointer;
          }
          input {
            border: none;
            background: transparent;
            outline: none;
            font-size: 12px;

            &:focus {
              outline: none;
            }
          }
        }

        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    .content {
      margin-top: 10px;
      // padding: 30px 15px;
      width: 100%;
      min-height: calc(100vh - 123px);
    }

    .breadcrumb {
      background: #fff;
    }

    .card {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.349);
      border: 0;
      margin-bottom: 30px;
      margin-top: 30px;
      border-radius: 6px;
      color: #333333;
      padding: 5px 2.5px;
      background: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #eeeeee;
      border-radius: 0.25rem;
      font-size: 0.875rem;

      &.card-stats {
        //background: transparent;
        display: flex;

        .author,
        .stats {
          display: inline-flex;
        }

        .card-body {
          text-align: right;
        }
      }

      .card-header,
      .card-footer {
        background: transparent;
        border-bottom: none;
      }

      .card-icon {
        position: absolute;
        top: -20px;
        left: 10px;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
          0 7px 10px -5px rgba(76, 175, 80, 0.4);

        i {
          font-size: 25px;
          color: #fff;

          &:first-child {
            font-size: 35px;
          }
        }
        @media (max-width: 991px) {
          padding: 37px;
        }
      }

      .card-icon-img {
        position: absolute;
        top: -20px;
        left: 10px;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        border: 1px solid rgb(190, 186, 186);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
          0 7px 10px -5px rgba(76, 175, 80, 0.4);

        img {
          width: 100%;
          height: auto;
        }
      }

      .card-table-title {
        position: absolute;
        top: -20px;
        left: 10px;
        width: 95% !important;
        border-radius: 5px;
        width: 100%;
        padding: 15px;
        color: #fff;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
          0 7px 10px -5px rgba(76, 175, 80, 0.4);

        i {
          font-size: 28px;
          color: #fff;
        }

        .card-title {
          text-align: left;
          float: left;
          font-size: 18px;
          margin-bottom: 10px;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        }

        .card-description {
          // display: block;
          width: 100%;
          text-align: left;
          float: left;
          margin: 0;
          font-size: 14px;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        }

        @media (max-width: 991px) {
          padding: 20px;
        }
      }

      .card-category {
        margin: 0;
        text-align: right;
        font-size: 16px;
        font-weight: 300;
        color: #999999;
        //font-family: 'Times New Roman', Times, serif;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        @media (max-width: 991px) {
          font-size: 18px;
        }
      }

      // .card-category,
      .card-title {
        margin: 0;
        width: 50%;
        float: right;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .card-title_2 {
        margin: 0;
        width: 50%;
        padding-bottom: 11px;
        font-weight: 500;
        float: right;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .bmd-form-group {
        label {
          position: relative;
          float: left;
          font-size: 12px;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        }

        input,
        select {
          padding: 0 14px;
          border-radius: 30px;
          &:disabled {
            background-color: #e9ecef;
          }
          // border: none;
          // border: 1px solid ;
          background: transparent;
          box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
            0 2px 1.25px -5px rgba(76, 175, 80, 0.4);
        }

        input[type='password'] {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .input-group-append {
          box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
            0 2px 1.25px -5px rgba(76, 175, 80, 0.4);
          cursor: pointer;
          background: transparent;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;

          .input-group-text {
            height: 100% !important;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
          }
        }

        .input-group-append {
          box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
            0 2px 1.25px -5px rgba(76, 175, 80, 0.4);
          cursor: pointer;
          background: transparent;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;

          #basic-addon12 {
            height: 100% !important;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 10px;
          }

          #basic-addon2 {
            height: 100% !important;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 10px;
          }
        }

        span {
          width: 100%;
          text-align: center;
          height: 10px;
          line-height: 10px;
          float: left !important;
        }
      }

      table {
        border-top: hidden !important;

        th {
          text-align: left;
          justify-content: left;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        }

        td {
          text-align: left;
          padding: 12px 8px;
          vertical-align: middle;
          border-color: #ddd;
          justify-content: left;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

          a {
            font-size: 20px;
          }
        }
      }
    }

    @media (max-width: 991px) {
      left: 0;
      width: 100%;
    }
  }
}

.modal {
  // display: none;
  // display: block !important;
  width: 100%;
  height: 100%;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.836);

  .close-modal {
    position: absolute;
    top: 0;
    left: calc(100% - 5%);
    padding: 15px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    @media (max-width: 991px) {
      left: calc(100% - 20%);
    }
  }

  .card-modal-box {
    width: 90%;
    float: center;
    .card-modal-header {
      position: absolute;
      top: -30px;
      left: 12px;
      width: 90% !important;
      border-radius: 5px;
      padding: 15px;
      color: #fff;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
        0 7px 10px -5px rgba(76, 175, 80, 0.4);

      i {
        font-size: 28px;
        color: #fff;
      }

      .card-modal-title {
        text-align: left;
        float: left;
        font-size: 18px;
        margin-bottom: 10px;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      }

      .card-modal-description {
        // display: block;
        width: 100%;
        text-align: left;
        float: left;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      }

      @media (max-width: 991px) {
        padding: 20px;
      }
    }

    .card-modal-img-header {
      width: 100px;
      height: 100px;
      border: 2px solid #fff;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
        0 7px 10px -5px rgba(76, 175, 80, 0.4);

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .modal-body {
      margin-top: 50px;
      padding: 10px 25px;
      form {
        fieldset:not(:first-of-type) {
          display: none;
        }

        .bmd-form-group {
          label {
            position: relative;
            float: left;
            font-size: 12px;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
          }

          input,
          select {
            padding: 0 14px;
            border-radius: 30px;
            &:disabled {
              background-color: #e9ecef;
            }
            // border: none;
            // border: 1px solid ;
            background: transparent;
            box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
              0 2px 1.25px -5px rgba(76, 175, 80, 0.4);
          }

          textarea {
            box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
              0 2px 1.25px -5px rgba(76, 175, 80, 0.4);
          }

          input[type='password'] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          .input-group-append {
            box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14),
              0 2px 1.25px -5px rgba(76, 175, 80, 0.4);
            cursor: pointer;
            background: transparent;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;

            #basic-addon12 {
              height: 100% !important;
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              font-size: 10px;
            }

            #basic-addon2 {
              height: 100% !important;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
